body {
	font-family: sans-serif;
	font-size: 20px;
	background-image: url("bgimg.png");
	background-size: cover;
}

textarea {
	font-size: 20px;
	color: white;
	border: none;
	padding: 10px 20px;
	resize: none;
	outline: solid black;
	overflow: hidden;
	width: 80%;
	border-radius: 15px;
	margin: 1%;
	background-color: rgba(0, 0, 0, 0.5);
}

button {
	background: #222222;
	color: #E0E5E2;
	font-size: 20px;
	text-decoration: none;
	display: inline-block;
	border-radius: 5px;
	border: none;
	transition-duration: 0.1s;
	cursor: pointer;
}

button:hover {
	background-color: #333333;
	color: #E0E5E2;
}

button:active {
	transform: translateY(4px);
}

#copy {
	width: 45px;
	height: 45px;
	margin: 1%;
}

#tts {
	width: 45px;
	height: 45px;
	margin: 0;
}